<h1>Vehicles-Trips Application </h1>

<ul>
  <% @vehicles.each do |vehicle| %>
    <li>
      <%= link_to vehicle.vehicle_number, vehicle %>
    </li>
  <% end %>
</ul>

<%= link_to "New Vehicle", new_vehicle_path %>
<%# <%= link_to "New Trip", new_vehicle_trip_path %> 



